<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{$message.title}</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        .main{margin-bottom: 60px;}
        .indexLabel{padding: 10px 0; margin: 10px 0 0; color: #fff;}
    </style>
</head>
<body>
<div class="main">
    <!--导航部分-->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid text-center">
            {volist name="channel" id="menu"}
            <div class="col-xs-3">
                <p class="navbar-text"><a href="/home/{$menu.url}.html" class="navbar-link">{$menu.title}</a></p>
            </div>
            {/volist}
            <div class="col-xs-3">
                <p class="navbar-text"><a href="{:url('server/index')}" class="navbar-link">服务</a></p>
            </div>
            {if condition="is_login()"}
            <div class="col-xs-3">
                <p class="navbar-text"><a href="{:url('user/index')}" class="navbar-link">我的</a></p>
            </div>
            {else/}
            <div class="col-xs-3">
                <p class="navbar-text"><a href="{:url('user/login/index')}" class="navbar-link">登录/注册</a></p>
            </div>
            {/if}
        </div>
    </nav>
    <!--导航结束-->

    <div class="container-fluid">
        <div class="blank"></div>
        <h3 class="noticeDetailTitle"><strong>{$message.title}</strong></h3>
        <div class="noticeDetailInfo">发布者:{:get_username($message.uid)}小区物管</div>
        <div class="noticeDetailInfo">发布时间：{:time_format($message.create_time)}</div>
        <div class="noticeDetailInfo">联系电话：{$message.tel}</div>
        <h4 class="text-danger">价格:{$message.price}
            {if $message.genre==1}
            <span>万元</span>
            {else/}
            <span>/月</span>
            {/if}</h4>
        <div class="noticeDetailContent">
            {$message.content}
        </div>
    </div>
</div>
<!--Bootstrap -->
<script src="/bootstrap/js/jquery-1.11.2.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>